name: TODO to Issue

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  todo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Track TODO Action
        uses: ribtoks/tdg-github-action@v0.4.15-beta
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
