name: TODO to Issue

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  todo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create issues from TODOs
        uses: alstr/todo-to-issue-action@v5
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LABEL: todo
